/* This file will hold the main styles for your website. */
.front #page-title {
  display:none;
}
/* change background-color */
body {
  color:#ffffff;
  background-color:#231f20;
  /* background-color:black; */
}
/* show active links on dark background */
li a.active {
  color:white;
}
a:hover {
  color:white;
}
/* hide default logo, site name, site slogan */
#region-branding img, #region-branding h1, #region-branding h2 {
  display:none;
}
/* hide default main menu */
#main-menu {
  display:none;
}
/* hide secondary menu */
#secondary-menu {
  display:none;
}
/* hide breadcrumb */
#breadcrumb {
  display:none;
}
/* language switcher dropdown
 * comes from lang_dropdown module
 */
#edit-lang-dropdown-select_titletext {
  color:black;
}
/* style the language switcher */
#block-locale-language li {
  padding-left:10px;
  float:right;
  list-style:none;
}
/* space after each item in view-latest-issues */
div.view-latest-issues .field-content {
  padding-bottom:20px;
}

/* block-1 is the left-side-menu */
#block-block-1 a:link {color:white;text-decoration:none}
#block-block-1 a:visited {color:white;text-decoration:none}
#block-block-1 a:hover {color:white;text-decoration:underline;}
#block-block-1 a:active {color:white;text-decoration:none}

/* block-2 is the right-side-menu */
#block-block-2 a:link {color:white;text-decoration:none}
#block-block-2 a:visited {color:white;text-decoration:none}
#block-block-2 a:hover {color:white;text-decoration:underline;}
#block-block-2 a:active {color:white;text-decoration:none}

/* Gallery caption */
.panel-overlay .overlay-inner h3 {
  font-size:10px;
  font-family:sans-serif;
}
