/* This file will hold the main styles for your website. */
/* hide page-title for the front page */
.front #page-title {
  display:none;
}
/* sans-serif font for other page titles */
#page-title {
  font-family:futura,sans-serif;
  /* default font-size is 36px */
  /*font-size:24px;*/
}
/* change background-color */
body {
  color:#ffffff;
  background-color:#231f20;
  /* background-color:black; */
}
/* hide default logo, site name, site slogan */
#region-branding img, #region-branding h1, #region-branding h2 {
  display:none;
}
/* hide default main menu */
#main-menu {
  display:none;
}
/* hide secondary menu */
#secondary-menu {
  display:none;
}
/* hide breadcrumb */
#breadcrumb {
  display:none;
}
/* full width for central image 
 * this prevents the right-sidebar bleeding over the central image
 */
.front #region-content {
  width:580px;
}
.front aside .grid-3 {
  width:280px;
}
/* language switcher dropdown
 * comes from lang_dropdown module
 */
#edit-lang-dropdown-select_titletext {
  color:black;
}
/* style the language switcher */
#block-locale-language li {
  float:right;
  list-style:none;
}
/* space after each item in view-latest-issues */
div.view-latest-issues .field-content {
  padding-bottom:20px;
}

a:link {color:white;text-decoration:underline}
a:visited {color:white;text-decoration:none}
a:hover {color:white;text-decoration:underline;}
a:active {color:white;text-decoration:none}

/* On front page, we want white links with no underlines.
 */

/* block-1 is the english-language left-side-menu */
#block-block-1 a:link {color:white;text-decoration:none}
#block-block-1 a:visited {color:white;text-decoration:none}
#block-block-1 a:hover {color:white;text-decoration:underline;}
#block-block-1 a:active {color:white;text-decoration:none}

/* block-2 is the spanish-language right-side-menu */
#block-block-2 a:link {color:white;text-decoration:none}
#block-block-2 a:visited {color:white;text-decoration:none}
#block-block-2 a:hover {color:white;text-decoration:underline;}
#block-block-2 a:active {color:white;text-decoration:none}

/* block-4 is the spanish-language left-side-menu */
#block-block-4 a:link {color:white;text-decoration:none}
#block-block-4 a:visited {color:white;text-decoration:none}
#block-block-4 a:hover {color:white;text-decoration:underline;}
#block-block-4 a:active {color:white;text-decoration:none}

/* block-5 is the spanish-language right-side-menu */
#block-block-5 a:link {color:white;text-decoration:none}
#block-block-5 a:visited {color:white;text-decoration:none}
#block-block-5 a:hover {color:white;text-decoration:underline;}
#block-block-5 a:active {color:white;text-decoration:none}

/* Gallery caption */
.panel-overlay .overlay-inner h3 {
  font-size:10px;
  font-family:sans-serif;
}
